.nav-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav-container ul {
  display: block;
  list-style: none;
  position: relative;
}

.nav-container ul li {
  padding: 15px;
}

.nav-container ul li ul {
  padding-top: 75px;
  position: absolute;
  top: 0px;
  left: -100vw;
  z-index: 1;
  background-color: #000;
  width: 50vh;
  height: 100vh;
  color: #fff;
  border-right: 5px solid red;
  transition: 0.9s;
}

.nav-container ul li:hover ul {
  left: 0px;
  transition: 0.5s;
}

.nav-link {
  font-size: 23px;
}

.nav-link:hover {
  color: #ff0000;
}

